[Unit]
Description=Elastalert
After=elasticsearch.service

[Service]
Type=simple
User=elasticsearch
Group=elasticsearch
Restart=on-failure
WorkingDirectory=/etc/elasticalert
ExecStart=/usr/bin/elastalert
StandardOutput=syslog
StandardError=syslog
KillSignal=SIGKILL
PIDFile=/var/run/elastalert.pid

[Install]
WantedBy=multi-user.target
